---

---

<div class="hidden lg:block absolute right-0 bottom-0">
  <svg
    data-aos="zoom-in-sm"
    data-aos-delay="100"
    width="290"
    height="190"
    viewBox="0 0 232 152"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.06166 111.339L56.0687 84.4643C59.4847 82.591 63.6083 82.5376 67.0717 84.3218L119.642 111.403C123.543 113.413 125.995 117.434 125.995 121.822V182.129C125.995 186.321 123.755 190.195 120.122 192.286L67.5675 222.545C63.8476 224.687 59.2545 224.624 55.5947 222.381L6.57258 192.335C3.09605 190.204 0.976807 186.42 0.976807 182.342V121.616C0.976807 117.336 3.30931 113.397 7.06166 111.339Z"
      fill="#7948FF"
      fill-opacity="0.18"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M66.6243 85.1892C63.4495 83.5537 59.6695 83.6027 56.5382 85.3199L7.53119 112.195C4.09153 114.081 1.9534 117.692 1.9534 121.615V182.341C1.9534 186.079 3.89604 189.548 7.08286 191.501L56.105 221.547C59.4598 223.603 63.6701 223.661 67.08 221.698L119.635 191.439C122.965 189.522 125.018 185.971 125.018 182.128V121.822C125.018 117.799 122.77 114.113 119.194 112.271L66.6243 85.1892ZM55.5989 83.6071C59.2996 81.5777 63.7668 81.5198 67.5189 83.4527L120.089 110.534C124.315 112.711 126.971 117.067 126.971 121.822V182.128C126.971 186.67 124.545 190.866 120.609 193.132L68.0547 223.391C64.0248 225.711 59.0489 225.643 55.0843 223.213L6.06208 193.167C2.29584 190.858 0 186.759 0 182.341V121.615C0 116.979 2.52688 112.711 6.59193 110.482L55.5989 83.6071Z"
      fill="#A280FF"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.43476 115.767L62.0813 147.985C62.953 148.448 63.9993 148.441 64.8648 147.967L123.571 115.773L124.511 117.486L65.8041 149.679C64.3616 150.47 62.6177 150.482 61.1648 149.71L0.518311 117.492L1.43476 115.767Z"
      fill="#A280FF"
      fill-opacity="0.19"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M62.509 224.066V149.836H64.4624V224.066H62.509Z"
      fill="#A280FF"
      fill-opacity="0.19"></path>
    <path
      d="M139.893 29.2962L188.9 2.42135C192.316 0.54805 196.44 0.494627 199.903 2.2788L252.473 29.3603C256.374 31.37 258.826 35.3909 258.826 39.7794V100.086C258.826 104.278 256.587 108.152 252.954 110.243L200.399 140.502C196.679 142.644 192.086 142.581 188.426 140.338L139.404 110.292C135.928 108.161 133.808 104.377 133.808 100.299V39.5728C133.808 35.2932 136.141 31.3539 139.893 29.2962Z"
      fill="#5739EF"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M199.456 3.14623C196.281 1.51073 192.501 1.5597 189.369 3.2769L140.362 30.1517C136.923 32.038 134.785 35.649 134.785 39.5719V100.298C134.785 104.036 136.727 107.505 139.914 109.458L188.936 139.504C192.291 141.56 196.501 141.618 199.911 139.655L252.466 109.396C255.796 107.479 257.849 103.928 257.849 100.085V39.7786C257.849 35.7558 255.602 32.07 252.025 30.2277L199.456 3.14623ZM188.43 1.56413C192.131 -0.465279 196.598 -0.523154 200.35 1.4097L252.92 28.4912C257.146 30.6684 259.802 35.0243 259.802 39.7786V100.085C259.802 104.627 257.377 108.823 253.441 111.089L200.886 141.348C196.856 143.668 191.88 143.6 187.916 141.17L138.893 111.124C135.127 108.816 132.831 104.716 132.831 100.298V39.5719C132.831 34.9358 135.358 30.6682 139.423 28.4389L188.43 1.56413Z"
      fill="#A280FF"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M134.266 35.6768L194.913 67.8952C195.785 68.3583 196.831 68.3514 197.696 67.8768L256.403 35.6829L257.342 37.3957L198.636 69.5895C197.193 70.3806 195.449 70.3921 193.996 69.6203L133.35 37.4018L134.266 35.6768Z"
      fill="white"
      fill-opacity="0.29"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M195.34 142.023V69.7471H197.294V142.023H195.34Z"
      fill="white"
      fill-opacity="0.29"></path>
    <path
      d="M161.156 85.3745L168.969 89.2813V97.0949L161.156 93.1881V85.3745Z"
      fill="#A280FF"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M165.537 94.0421L130.376 113.576L129.427 111.869L164.588 92.3346L165.537 94.0421Z"
      fill="#A280FF"></path>
  </svg>
</div>
