---

---

<div class="hidden lg:block absolute right-0 bottom-0">
  <svg
    data-aos="zoom-in-sm"
    data-aos-delay="150"
    width="116"
    height="117"
    viewBox="0 0 116 117"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.6895 46.6286L66.9127 21.313C67.7864 20.8345 68.8405 20.8209 69.7263 21.2766L119.034 46.645C120.034 47.1592 120.662 48.1888 120.662 49.3127V105.953C120.662 107.027 120.088 108.019 119.157 108.554L69.8531 136.905C68.9017 137.452 67.7275 137.436 66.7914 136.863L20.5644 108.567C19.6737 108.021 19.1306 107.052 19.1306 106.008V49.2598C19.1306 48.1638 19.7283 47.155 20.6895 46.6286Z"
      fill="#5739EF"
      stroke="#A280FF"
      stroke-width="0.5"></path>
    <path
      d="M2.56179 34.967L65.1779 0.76168C66.0501 0.285239 67.1016 0.271646 67.9858 0.725382L134.745 34.9835C135.746 35.4972 136.375 36.5276 136.375 37.6526V114.151C136.375 115.226 135.8 116.219 134.868 116.753L68.1126 155.04C67.1627 155.584 65.9914 155.568 65.0567 154.998L2.43672 116.766C1.54435 116.221 1 115.251 1 114.205V37.5998C1 36.5026 1.59893 35.493 2.56179 34.967Z"
      fill="#7948FF"
      fill-opacity="0.19"
      stroke="#A280FF"
      stroke-width="0.5"></path>
    <path
      d="M136.375 36.2612L70.2676 75.8457C69.9555 76.0326 69.5667 76.0353 69.2521 75.8528L1 36.2612"
      stroke="#A280FF"
      stroke-opacity="0.29"
      stroke-width="0.5"></path>
    <path
      d="M69.8962 76.1484V153.506"
      stroke="#A280FF"
      stroke-opacity="0.29"
      stroke-width="0.5"></path>
  </svg>
</div>
